<!-- Left Right section starts -->
{% if section.settings.image_right %}
    {% assign classname = "images-right" %}
{% else %}
    {% assign classname = "images-left" %}
{% endif %}
<section
  class="module mod-list-system single-system bg-type-line {{classname}}">
  <div class="system-item page-width">
    <div class="system-item-container anima-bottom">
      <div class="system-content text-white">
        <div class="d-table w-100">
          <div class="d-table-cell p01 last-mb-none ">

             <div class="system-icon">
              {% comment %} <img src="{{section.settings.imageModule | img_url:  width: 500 }}" alt="{{section.settings.imageModule | img_alt }}"> {% endcomment %}
              {{ section.settings.imageModule | image_url: width: 400 | image_tag }}
            </div>
            
              <h2>
               {{section.settings.headline }}
              </h2>
            
            {{ section.settings.content }}
      
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="system-item-img bg ps-as" style="background-image: url({{section.settings.imageBG | img_url:'master' }});">
  </div>
</section>

<!-- Left Right section ends -->
{% schema %}
{
"name": "Left_Right", // Section name
"settings": [
  {
    "id": "headline",
    "type": "text",
    "label": "Heading"
  },
   {
    "id": "content",
    "type": "richtext",
    "label": "Content"
  },
  {
    "id": "imageModule",
    "type": "image_picker",
    "label": "Image"
  },
 {
    "id": "imageBG",
    "type": "image_picker",
    "label": "Image BG"
  },
  {
    "id": "image_right",
    "type": "checkbox",
    "label": "Image Right",
    "default": false
  }
],
"presets": [
  {
  "name": "Left Right Section 2",
  "category": "Custom"
  }
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}