<!-- Welcome section starts -->
{% if section.settings.image_right %}
    {% assign classname = "images-right" %}
{% else %}
    {% assign classname = "images-left" %}
{% endif %}

{% if section.settings.headline %}
 <h2>
   {{section.settings.headline }}
</h2>
{% endif %}
{{ section.settings.content }}

{% for block in section.blocks %}
	<img src="{{block.settings.imageSlider | img_url: 'large' }}" alt="{{block.settings.imageSlide | img_alt }}" {{ block.shopify_attributes }}>
{% endfor %}

<!-- Welcome section ends -->
{% schema %}
{
"name": "List Logo", // Section name
"settings": [
  {
    "id": "headline",
    "type": "text",
    "label": "Heading"
  },
   {
    "id": "content",
    "type": "richtext",
    "label": "Content"
  }
],
"blocks": [{
	"type": "image",
	"name" : "image_block",
	"settings":[{
		"type":"image_picker",
		"id" : "imageSlider",
		"label":"List Image"
		}]}
],
"presets": [
  {
  "name": "List Logo",
  "category": "ADVANCED LAYOUT"
  }
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}